<!DOCTYPE html>
<head>
    <title>Room Number range - Taksha S Thosani</title>
</head>
<body>
<h5><a href="/">Home</a></h5>
<center><h3>CSE 6332 - Quiz-0</h3></center>
<center><h4>Taksha Sachin Thosani - 86312</h4></center><br/><br/>

<div>

  {% if message %}
    {% for record in records %}
      <div>
        <h4>{{ record.name }}</h4>
        <h4>{{ record.description }}</h4>
        <img src="{{ record.image_path }}" alt="Preview" width="500" height="600">
      </div>
    {% endfor %}
  {% endif %}

  {% if error %}
    {{ error }}
  {% endif %}

</div>

</body>
</html>
