<!-- <!DOCTYPE html>
<head>
    <title>Update Desc - Taksha S Thosani</title>
</head>
<body>
<h5><a href="/">Home</a></h5>
<center><h3>CSE 6332 - Quiz-0</h3></center>
<center><h4>Taksha Sachin Thosani - 86312</h4></center><br/><br/>

<div>

  {%if message%}
  <div>
    <h4>{{name}}</h4>
    <h4>{{description}}</h4>
  </div>
  {%endif%}
  {%if error%}
    {{error}}
  {%endif%}

</div>

</body>
</html> -->

<!DOCTYPE html>
<head>
    <title>Room Details - Taksha S Thosani</title>
</head>
<body>
<h5><a href="/">Home</a></h5>
<center><h3>CSE 6332 - Quiz-0</h3></center>
<center><h4>Taksha Sachin Thosani - 86312</h4></center><br/><br/>

<div>

  {% if message %}
    <div>
      <h4>{{ name }}</h4>
      <h4>{{ description }}</h4>
    </div>
  {% endif %}

  {% if error %}
    {{ error }}
  {% endif %}

</div>

</body>
</html>
